{% extends 'TwilBundle::base.html.twig' %}

{% block body %}
    {% if product is not null %}
        <h1>produit {{product.id}}</h1>
        <ul class="list-group">
            <li  class="list-group-item"><strong>Nom: </strong>{{product.name}}</li>
        </ul>
    {% endif %}
    <a href="{{path("list_product")}}" class="btn btn-default"> < Retour à la liste des produits</a>
{% endblock %}
